/*==========  section home  ==========*/
.section {
  position: relative;
  z-index: 1;
  padding: 60px 0; }

.home-section {
  padding: 120px 0 0; }

.home-img {
  position: absolute;
  bottom: 0;
  right: -264px;
  z-index: -1;
  max-width: 1372px;
  width: 100%; }

.subtext {
  max-width: 540px;
  text-align: center;
  width: 100%;
  margin: 9px 0 0;
  font-size: 16px; }

.home-content .box-text {
  margin: 29px 0 68px; }

.home-content h1 {
  max-width: 763px;
  width: 100%; }

.home-advantages {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 69px; }
  .home-advantages h4 {
    margin: auto 0 10px auto;
    font-size: 28px;
    font-weight: 800;
    max-width: 350px; }

.home-advantages-box {
  margin: 0 30px 0 0; }
  .home-advantages-box:last-child {
    margin-right: 0; }
  .home-advantages-box p {
    line-height: 22px;
    font-size: 18px; }
  .home-advantages-box__num {
    margin: -16px 0 0 0;
    font-weight: 800;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .home-advantages-box__num .number {
      line-height: 115px;
      font-size: 96px;
      margin: 0 3px 0 0; }
    .home-advantages-box__num .currency {
      margin: 0 0 15px; }
      .home-advantages-box__num .currency span {
        display: block;
        line-height: 65px;
        font-size: 54px; }
      .home-advantages-box__num .currency p {
        font-size: 24px;
        line-height: 29px;
        margin: -10px 0 0; }
  .home-advantages-box .text {
    font-weight: normal;
    line-height: 32px;
    font-size: 17px;
    margin: 0 0 10px auto;
    max-width: 305px; }

/*==========  section home end  ==========*/
/*==========  section section-history ==========*/
.section-history .box-text {
  margin: 64px 0 0; }

.section-history .home-advantages {
  margin: 139px 0 0; }

.section-history .home-advantages-box {
  margin-right: 64px; }

.section-history-img {
  position: absolute;
  left: 35px;
  bottom: 0;
  max-width: 538px;
  width: 100%;
  z-index: -1; }

/*==========  section section-history end  ==========*/
/*==========  section investments-section ==========*/
.investments-section h2 {
  font-size: 63px;
  line-height: 64px;
  font-weight: 800; }

.investments-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 0 0 170px;
  z-index: 1; }

.investments-image {
  position: absolute;
  left: -280px;
  top: 65%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  max-width: 928px;
  width: 100%;
  z-index: -1; }

.investments-item {
  font-size: 18px;
  margin: 0 0 40px;
  line-height: 24px; }
  .investments-item:last-child {
    margin: 0; }
  .investments-item p {
    font-weight: bold; }

/*==========  section investments-section end  ==========*/
/*==========  section scale-section ==========*/
.scale-section-wrapper h3 {
  font-size: 110px;
  font-weight: 800;
  line-height: 1; }

.scale-section-wrapper .home-advantages-box {
  width: 100%;
  margin: 0 0 30px; }
  .scale-section-wrapper .home-advantages-box__num {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.sources-box {
  width: 100%;
  height: 255px;
  background: -webkit-gradient(linear, left bottom, left top, from(#F8F5F5), to(#F8F5F5)), #9DD0FF;
  background: linear-gradient(0deg, #F8F5F5, #F8F5F5), #9DD0FF;
  -webkit-box-shadow: 0px 0px 10px 5px #F0F0F0;
          box-shadow: 0px 0px 10px 5px #F0F0F0;
  border-radius: 20px;
  overflow: hidden;
  padding: 27px 0 0 20px;
  position: relative;
  font-size: 20px;
  font-weight: bold; }
  .sources-box p {
    margin: 0 0 7px; }
  .sources-box__img {
    position: absolute;
    right: 0;
    bottom: 0; }

/*==========  section scale-section end  ==========*/
/*==========  section income-section ==========*/
.income-section .btn {
  width: 100%; }

.income-section .description {
  font-size: 18px;
  line-height: 24px; }

.income-section h2 {
  margin: 0 0 64px; }
  .income-section h2 br {
    display: none; }

.income-box {
  width: 100%;
  margin: 0 0 102px; }
  .income-box:last-child {
    margin: 0 0 124px; }
  .income-box h3 {
    font-weight: 800;
    font-size: 64px;
    line-height: 1; }

/*==========  section income-section end  ==========*/
/*==========  section stages-section ==========*/
.stages-section h2 {
  margin: 0 0 64px; }
  .stages-section h2 br {
    display: none; }

.stages-section .home-advantages-box .text {
  margin-left: 25px;
  max-width: 232px;
  font-size: 18px; }

.letter {
  font-size: 18px;
  line-height: 22px;
  text-align: center; }
  .letter-item {
    font-size: 340px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1;
    margin: -50px auto 0; }

.plane-stages {
  margin: 115px 0 0; }
  .plane-stages h3 {
    margin: 0 0 64px;
    font-size: 32px;
    line-height: 46px; }

.letter-number {
  position: relative; }
  .letter-number .letter-item {
    font-size: 380px; }
  .letter-number span {
    position: absolute;
    font-size: 36px;
    line-height: 43px;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: bold;
    bottom: 109px;
    left: 45px; }

/*==========  section stages-section end  ==========*/
/*==========  section  ==========*/
.enthusiasts-section h2 {
  margin: 0 0 33px; }

.enthusiasts-section .letter-item {
  font-size: 292px;
  line-height: 350px; }

.enthusiasts-section .letter span {
  text-align: right;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  margin: -50px 0 0;
  display: block;
  width: 100%; }

.enthusiasts-footer {
  margin: 73px 0 0; }
  .enthusiasts-footer .btn {
    max-width: 350px;
    width: 100%;
    margin: 0 30px 0 0; }
  .enthusiasts-footer .box-text {
    line-height: 24px; }

.enthusiasts-section-img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 1054px;
  width: 100%;
  z-index: -1; }

/*==========  section end  ==========*/
/*==========  section developer ==========*/
.developer-section h2 {
  line-height: 32px; }

.developer-photo {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 431px;
  width: 100%;
  height: 595px;
  border-radius: 30px;
  position: relative; }
  .developer-photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.slogan {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 24px;
  color: #fff;
  bottom: 0;
  left: 0;
  font-size: 32px;
  font-weight: bold; }

.developer-content {
  padding: 0 0 0 90px; }
  .developer-content .btn {
    margin: 30px 0 0;
    max-width: 350px;
    width: 100%; }
  .developer-content .box-text {
    line-height: 22px; }
    .developer-content .box-text p {
      margin: 0 0 27px; }

.developer-photo-wrapper .developer-photo {
  height: 673px;
  max-width: 528px;
  margin: 0 auto;
  border-radius: 30px 30px 0 0; }

.developer-photo-wrapper .btn {
  margin: 0 auto;
  max-width: 528px;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
  height: 56px;
  font-size: 22px;
  padding: 0; }

.developer-box {
  margin: 75px 0 37px;
  font-size: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .developer-box .title-decor:before {
    right: 35px;
    top: -40px; }
  .developer-box .name {
    font-weight: bold; }

/*==========  section end  ==========*/
/*==========  modal  ==========*/
.modal-dialog {
  max-width: 600px; }

.modal-content {
  border: none;
    border-radius: 30px;
  background: #fff;
  padding: 36px 46px 42px; }

.modal-header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 44px;
  padding: 0;
  width: 100%;
  border: none;
    border-radius: 0; }
  .modal-header .close {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;
    z-index: 1;
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .modal-header .subtitle {
    font-size: 24px; }

.modal-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 46px; }

.modal-body {
  padding: 0;
  width: 100%; }

.form button {
  margin: 44px 0 0;
  width: 100%;
  padding: 0;
  height: 80px; }

.consent {
  text-align: center;
  width: 100%;
  margin: 9px auto 0;
  line-height: 19px;
  font-size: 16px; }

/*==========  modal end  ==========*/
/*==========  thanks  ==========*/
.thanks-content {
  text-align: center; }
  .thanks-content h1 {
    margin: 0 auto 77px; }
  .thanks-content .btn {
    height: 80px;
    max-width: 540px;
    width: 100%;
    padding: 10px;
    margin: 0 auto; }
  .thanks-content .logo {
    max-width: 187px;
    margin: 0 auto 34px; }

/*==========  thanks end  ==========*/
