@import "vars"

/*==========  section home  ==========*/
.section
  position: relative
  z-index: 1
  padding: 60px 0

.home-section
  padding: 120px 0 0

.home-img
  position: absolute
  bottom: 0
  right: -264px
  z-index: -1
  max-width: 1372px
  width: 100%

.subtext
  max-width: 540px
  text-align: center
  width: 100%
  margin: 9px 0 0
  font-size: 16px

.home-content
  .box-text
    margin: 29px 0 68px
  h1
    max-width: 763px
    width: 100%

.home-advantages
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  margin: 0 0 69px
  h4
    margin: auto 0 10px auto
    font-size: 28px
    font-weight: 800
    max-width: 350px

.home-advantages-box
  margin: 0 30px 0 0
  &:last-child
    margin-right: 0
  p
    line-height: 22px
    font-size: 18px
  &__num
    margin: -16px 0 0 0
    font-weight: 800
    display: flex
    align-items: flex-end
    .number
      line-height: 115px
      font-size: 96px
      margin: 0 3px 0 0
    .currency
      margin: 0 0 15px
      span
        display: block
        line-height: 65px
        font-size: 54px
      p
        font-size: 24px
        line-height: 29px
        margin: -10px 0 0
  .text
    font-weight: normal
    line-height: 32px
    font-size: 17px
    margin: 0 0 10px auto
    max-width: 305px

/*==========  section home end  ==========*/



/*==========  section section-history ==========*/
.section-history
  .box-text
    margin: 64px 0 0

  .home-advantages
    margin: 139px 0 0
  .home-advantages-box
    margin-right: 64px
  &-img
    position: absolute
    left: 35px
    bottom: 0
    max-width: 538px
    width: 100%
    display: flex
    align-items: center
    z-index: -1
    img
      mix-blend-mode: multiply
/*==========  section section-history end  ==========*/


/*==========  section investments-section ==========*/
.investments-section
  h2
    font-size: 63px
    line-height: 64px
    font-weight: 800

.investments-content
  display: flex
  align-items: center
  position: relative
  padding: 0 0 0 170px
  z-index: 1

.investments-image
  position: absolute
  left: -280px
  top: 65%
  transform: translate(0,-50%)
  display: flex
  align-items: center
  justify-content: center
  max-width: 928px
  width: 100%
  z-index: -1

.investments-item
  font-size: 18px
  margin: 0 0 40px
  line-height: 24px
  &:last-child
    margin: 0
  p
    font-weight: bold
/*==========  section investments-section end  ==========*/



/*==========  section scale-section ==========*/
.scale-section-wrapper
  h3
    font-size: 110px
    font-weight: 800
    line-height: 1
  .home-advantages-box
    width: 100%
    margin: 0 0 50px
    &__num
      flex-wrap: wrap

.sources-box
  width: 100%
  height: 100%
  background: linear-gradient(0deg, #F8F5F5, #F8F5F5), #9DD0FF
  box-shadow: 0px 0px 10px 5px #F0F0F0
  border-radius: 20px
  padding: 27px 0 0 20px
  position: relative
  font-size: 20px
  display: flex
  flex-direction: column
  font-weight: bold
  p
    margin: 0 0 7px
  &__img
    margin: auto 0 0 auto
/*==========  section scale-section end  ==========*/



/*==========  section income-section ==========*/
.income-section
  .btn
    width: 100%
  .description
    font-size: 18px
    line-height: 24px
  h2
    margin: 0 0 64px
    br
      display: none

.income-box
  width: 100%
  margin: 0 0 102px
  &:last-child
    margin: 0 0 124px
  h3
    font-weight: 800
    font-size: 64px
    line-height: 1


/*==========  section income-section end  ==========*/



/*==========  section stages-section ==========*/
.stages-section
  h2
    margin: 0 0 64px
    br
      display: none
  .home-advantages-box .text
    margin-left: 25px
    max-width: 232px
    font-size: 18px

.letter
  font-size: 18px
  line-height: 22px
  text-align: center
  &-item
    font-size: 340px
    text-transform: uppercase
    font-weight: 800
    line-height: 1
    margin: -50px auto 0

.plane-stages
  margin: 115px 0 0
  h3
    margin: 0 0 64px
    font-size: 32px
    line-height: 46px

.letter-number
  position: relative
  .letter-item
    font-size: 380px
  span
    position: absolute
    font-size: 36px
    line-height: 43px
    display: block
    width: fit-content
    font-weight: bold
    bottom: 109px
    left: 45px
/*==========  section stages-section end  ==========*/


/*==========  section  ==========*/
.enthusiasts-section
  h2
    margin: 0 0 33px
  .letter
    &-item
      font-size: 292px
      line-height: 350px
    span
      text-align: right
      font-size: 36px
      font-weight: 700
      line-height: 43px
      margin: -50px 0 0
      display: block
      width: 100%

.enthusiasts-footer
  margin: 73px 0 0
  .btn
    max-width: 350px
    width: 100%
    margin: 0 30px 0 0
  .box-text
    line-height: 24px

.enthusiasts-section-img
  position: absolute
  left: 0
  bottom: 0
  max-width: 1054px
  width: 100%
  z-index: -1
/*==========  section end  ==========*/



/*==========  section developer ==========*/
.developer-section
  h2
    line-height: 32px

.developer-photo
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center
  max-width: 431px
  width: 100%
  height: 595px
  border-radius: 30px
  position: relative
  img
    width: 100%
    height: 100%
    object-fit: cover

.slogan
  position: absolute
  width: 100%
  text-align: center
  padding: 24px
  color: #fff
  bottom: 0
  left: 0
  font-size: 32px
  font-weight: bold

.developer-content
  padding: 0 0 0 90px
  .btn
    margin: 30px 0 0
    max-width: 350px
    width: 100%
  .box-text
    line-height: 22px
    p
      margin: 0 0 27px

.developer-photo-wrapper

  .developer-photo
    height: 673px
    max-width: 528px
    margin: 0 auto
    border-radius: 30px 30px 0 0
  .btn
    margin: 0 auto
    max-width: 528px
    width: 100%
    border-radius: 0px 0px 30px 30px
    height: 56px
    font-size: 22px
    padding: 0



.developer-box
  margin: 75px 0 37px
  font-size: 24px
  width: fit-content

  .title-decor
    &:before
      right: 35px
      top: -40px
  .name
    font-weight: bold

/*==========  section end  ==========*/


/*==========  modal  ==========*/
.modal-dialog
  max-width: 600px

.modal-content
  border: none
    radius: 30px
  background: #fff
  padding: 36px 46px 42px

.modal-header
  flex-wrap: wrap
  margin: 0 0 44px
  padding: 0
  width: 100%
  border: none
    radius: 0
  .close
    position: absolute
    top: 20px
    right: 20px
    opacity: 1
    z-index: 1
    margin: 0
    padding: 0
    cursor: pointer
    width: 25px
    height: 25px
    display: flex
    align-items: center
    justify-content: center
  .subtitle
    font-size: 24px

.modal-title
  font-size: 32px
  font-weight: bold
  line-height: 46px

.modal-body
  padding: 0
  width: 100%

.form
  button
    margin: 44px 0 0
    width: 100%
    padding: 0
    height: 80px

.consent
  text-align: center
  width: 100%
  margin: 9px auto 0
  line-height: 19px
  font-size: 16px

/*==========  modal end  ==========*/